
.fa-users {	
	color: #247da2;
	}

.fa-folder-open-o  {
	color: #33867b;
	}

.fa-pencil {	
	color:#579213;
	}

.fa-html5 {
	color: #7b771c;
	}	
	
.fa-lightbulb-o {
	color: #9c7f2b;
}	

.fa-line-chart {
	color: #b9742a;
	}	
	
.fa-laptop {
	color: #f7b892;	
	}	

.fa-cube {
	color: #ad343a;
	}	

.fa-book {	
	color: #770843;
	}

.fa-file-pdf-o {
	color: #79106d;
	}

.fa-server {
	color: #b795dc;
	}

.fa-envelope-o {
	color: #88baec;
	}
	
header h1{
	font-size:20px;
	font-family:'Lato', sans-serif;
	font-weight: 700;
	letter-spacing:1.2px;
	margin:0 0 5px 0;
	color: #676767;	
	}
	
.fa-arrow-left {
	color: #12569E;
	
	}

.fa-arrow-left:hover {
	color: #4DDB00;
	font-size: 25px;
	
	}

.linha {
	border-bottom: 1px solid #DBDCDC;
	margin-bottom: 30px;
	}

.linha2 {
	border-bottom: 1px solid #ABABAB;
	margin-bottom: 30px;
	
	}

.margen-titulo {
	padding-top: 25px;
	padding-bottom: 25px;
	}
	
.color-design {
	color: #D4B201;
	}

.color-seo {
	color: #880E4F;
	}

.color-frontend {
	color: #DD2C00;
	}
	
.color-apoio  {
	color: #33A7D8;
	}
	
.color-portfolio  {
	color: #33B8A7;
	}

.color-filtro{
	color: #1C26F5;
	
	}
	
.color-ux{
	color: #1C26F5;
	
	}

#back-to-top.visible {
    right: 50px;
}

#back-to-top {
    background-color: #fdb020;
    color: #fafafa;
}

#back-to-top {
    position: fixed;
    right: -65px;
    bottom: 28px;
    width: 50px;
    height: 50px;
    background-color: #747474;
    color: #fafafa;
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    opacity: 0.5;
    cursor: pointer;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    text-decoration: none;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    z-index: 80;
}

strong {
	color: #5C5C5C;	
	}