pre,textarea {
	overflow:auto;
	}
	
[hidden],audio:not([controls]),template {
	display:none;
	}
	
details,main,summary {
	display:block;
	}

input {
	border-radius:0;
	}
	
input[type=number] {
	width:auto;
	}
	
input[type=text] {
	-webkit-appearance:none;
	}

input[type=email] { 
	-webkit-appearance:none;
	}
	
input[type=submit] {
	-webkit-appearance:none;
	}

input[type=search] {
	-webkit-appearance:none
	}

input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration {
	-webkit-appearance:none
	}
	
progress { 
	display:inline-block
	}
	
small { 
	font-size:75%
    }
	
textarea { 
	resize:vertical
	}
	
[unselectable] {
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none
	}
	
*,::after,::before { 
	box-sizing:inherit;
	border-style:solid;
	border-width:0
	}
	
* {
	font-size:inherit;
	line-height:inherit;
	margin:0;
	padding:0
	}

::after,::before {
	text-decoration:inherit;
	vertical-align:inherit
	}
	
:root { 
	-ms-overflow-style:-ms-autohiding-scrollbar;
	overflow-y:scroll;
	-webkit-text-size-adjust:100%;
	-ms-text-size-adjust:100%;
	text-size-adjust:100%;
	box-sizing:border-box;
	cursor:default;
	font:16px/1.5 sans-serif;
	text-rendering:optimizeLegibility
	}
	
a{
	text-decoration:none
	}

audio,canvas,iframe,img,svg,video { 
	vertical-align:middle
	}
	
button,input,select,textarea { 
	background-color:transparent;
	color:inherit;
	font-family:inherit;
	font-style:inherit;
	font-weight:inherit;
	min-height:1.5em
	}
		
code,kbd,pre,samp {
	font-family:monospace,monospace
	}

nav ol,nav ul { 
	list-style:none
	}

select {
	-moz-appearance:none;
	-webkit-appearance:none
	}
	
select::-ms-expand {
		display:none
		}
select::-ms-value {
		color:currentColor
			}
		
table { 
		border-collapse:collapse;
		border-spacing:0
		}
		
::-moz-selection { 
		background-color:#B3D4FC;
		text-shadow:none
		}
		
::selection { 
	background-color:#B3D4FC;
	text-shadow:none
	}
	
@media screen{
	[hidden~=screen] {
		display:inherit
		}
	
	[hidden~=screen]:not(:active):not(:focus):not(:target) {
		clip:rect(0 0 0 0) !important;
		position:absolute !important
		}
	}
	
@import 'https://fonts.googleapis.com/css?family=Lato:400,700';
	
html,body,header,footer,section,nav,div,h1,h2,h3,h4,ul,li,img { 
	margin:0;
	padding:0
	}
	
html{
	position:relative;
	min-height:100%;
	-webkit-text-size-adjust:none
	}
	
ul,li { 
	list-style:none
	}
	
h1,h2,h3,h4 {
	font-weight:normal
	}
	
body {
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
	font-family:'Lato', sans-serif;
	font-size:18px;
	}
	
header {
	height:74px;
	background-color:#fff;
	box-shadow:0px 0px 40px 0px rgba(51,73,94,0.1);
	display:-webkit-box;
	display:-webkit-flex;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-align:center;
	-webkit-align-items:center;
	-ms-flex-align:center;
	align-items:center;
	-webkit-box-pack:center;
	-webkit-justify-content:center;
	-ms-flex-pack:center;
	justify-content:center;
	position:fixed;
	width:100%;
	top:0;
	z-index:2
	}
	
header h1 {
	position:relative
	}
	
header a {
	display:block 
	}
	
header svg {
	vertical-align:top;
	width:165px
	}
	
header .bookmark-this {
	position:absolute;
	top:-2px;
	left:-50%;
	margin:0px 50px;
	background-color:#fff;
	opacity:0;
	-webkit-transition:opacity 0.2s cubic-bezier(0.42, 0, 0.58, 1);
	transition:opacity 0.2s cubic-bezier(0.42, 0, 0.58, 1);
	-webkit-transform:translateZ(0);
	transform:translateZ(0);
	width:250px
	}

header .header-show {
	opacity:1
	}
	
main {
	width:250px;
	margin:115px auto 0 auto;
	display:-webkit-box;
	display:-webkit-flex;
	display:-ms-flexbox;
	display:flex;	
		}

.resources {
	margin:132px auto 0 auto;
	display:-webkit-box;
	display:-webkit-flex;
	display:-ms-flexbox;
	display:flex;
	width:auto;
	padding:0 20px
	}
	
.cards {
	display:-webkit-box;
	display:-webkit-flex;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-pack:justify;
	-webkit-justify-content:space-between;
	-ms-flex-pack:justify;
	justify-content:space-between;
	-webkit-flex-wrap:wrap;
	-ms-flex-wrap:wrap;
	flex-wrap:wrap
	}

.card {
	width:252px;
	height:350px;
	box-shadow:0px 5px 20px 0px rgba(51,73,94,0.05);
	-webkit-transition:box-shadow 0.2s cubic-bezier(0.42, 0, 0.58, 1);
	transition:box-shadow 0.2s cubic-bezier(0.42, 0, 0.58, 1);
	margin:0 0 30px 0;
	-webkit-transform:translateZ(0);
	transform:translateZ(0);
	border: 1px solid;
	border-color: gainsboro;
	}
	
.card a {
	display:block;
	width:250px;
	height:350px;
	color:#4F4F4F}
	
.card .card-icon { 
	display:-webkit-box;
	display:-webkit-flex;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-align:center;
	-webkit-align-items:center;
	-ms-flex-align:center;
	align-items:center;
	-webkit-box-pack:center;
	-webkit-justify-content:center;
	-ms-flex-pack:center;
	justify-content:center}
	
.card:nth-of-type(1) .card-icon { 
	height:300px;
	background-color:#0D47A1;
	}
	
.card:nth-of-type(2) .card-icon { 
	height:300px;
	background-color:#388E3C;
	}
	
.card:nth-of-type(3) .card-icon {
	height:300px;
	background-color:#FFD600;
	}
	
.card:nth-of-type(4) .card-icon {
	height:300px;
	background-color:#DD2C00;
	}
	
.card:nth-of-type(5) .card-icon { 
	height:300px;
	background-color:#FFECB3;
	}
	
.card:nth-of-type(6) .card-icon { 
	height:300px;
	background-color:#880E4F;
	}

.card:nth-of-type(7) .card-icon {
	height:300px;
	background-color:#7CB342;
	}
	
.card:nth-of-type(8) .card-icon { 
	height:300px;
	background-color:#6A1B9A;
	}
	
.card:nth-of-type(9) .card-icon { 
	height:300px;
	background-color:#80CBC4;
	}
	
.card:nth-of-type(10) .card-icon {
	height:300px;
	background-color:#006064;
	}
	
.card:nth-of-type(11) .card-icon {
	height:300px;
	background-color:#546E7A;
	}
	
.card:nth-of-type(12) .card-icon { 
	height:300px;
	background-color:#3c3c3c;
	}
	
.card h2 {
	height:50px;
	line-height:50px;
	text-align:center;
	letter-spacing:0.9px 
	}
	
.resource-list li {
	display:-webkit-box;
	display:-webkit-flex;
	display:-ms-flexbox;
	display:flex;
	margin:0 0 30px 0}
	
.resource-list .resource-icon {
	position:relative;
	margin:0 15px 0 0;
	width:32px;
	height:32px
	}
	
.resource-list .resource-icon img { 
	border-radius:50%;
	width:32px;height:32px}
	
.resource-list .resource-icon:after { 
	content:'';
	display:block;
	width:32px;
	height:32px;
	border-radius:50%;
	box-shadow:inset 0 0 0 1px rgba(69,72,75,0.1);
	position:absolute;
	top:50%;
	left:50%;
	margin:-16px 0 0 -16px
	}
	
.resource-list .resource-details {
	-webkit-box-flex:1;
	-webkit-flex:1;
	-ms-flex:1;
	flex:1
	}
	
.resource-list h2 {
	font-size:20px;
	font-family:'Lato', sans-serif;
	letter-spacing:1px;
	margin:0 0 5px 0;
	font-weight: 700
	
	}
	
.resource-list h2 a {
	color:#4F4F4F;
	font-weight: 700; /* coloquei porque no mobile não funcionava */
	}

.resource-list p {
	color:#4F4F4F;
	font-size:16px;
	letter-spacing: 1.2px;
	}
	
.resource-list .resource-button {
	display:none
	}
	
.sidebar-navigation { 
	display:none}
	
.photography .resource-button { 
	box-shadow:#546E79 0 0px 0px 3px inset}
	
.fonts .resource-button { 
	box-shadow:#3c3c3c 0 0px 0px 3px inset 
	}

.icons .resource-button { 
	box-shadow:#388E3C 0 0px 0px 3px inset
	}
	
.photoshop .resource-button { 
	box-shadow:#0D47A1 0 0px 0px 3px inset} 
	
.sketch .resource-button { 
	box-shadow:#80CBC4 0 0px 0px 3px inset
	}
	
.color-generators .resource-button { 
	box-shadow:#006064 0 0px 0px 3px inset
	}

.prototyping .resource-button { 
	box-shadow:#FFD600 0 0px 0px 3px inset
	}
	
.front-end .resource-button {
	box-shadow:#DD2C00 0 0px 0px 3px inset
	}
	
.bootstrap .resource-button {
	box-shadow:#FFECB3 0 0px 0px 3px inset
	}
	
.wordpress .resource-button {
	box-shadow:#880E4F 0 0px 0px 3px inset
	}
	
.seo .resource-button { 
	box-shadow:#6A1B9A 0 0px 0px 3px inset
	}
	
.marketing .resource-button { 
	box-shadow:#7CB342 0 0px 0px 3px inset 
	}
	
footer {
	margin:120px 0 30px 0;
	padding:60px 10px 0 10px;
	border-top:1px solid #EAEDEF;
	font-size:12px;
	color:#F50057}
	
footer .share {
	display:-webkit-box;
	display:-webkit-flex;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-pack:center;
	-webkit-justify-content:center;
	-ms-flex-pack:center;
	justify-content:center;
	margin-bottom:40px
	}
	
footer .twitter-share-button {
	margin-right:5px
	}
	
footer p {
	text-align:center;
	margin-left:auto;
	margin-right:auto
	}
	
footer .about { 
	color:#4F4F4F;
	font-size:16px;
	margin-bottom:36px
	}
	
footer .about a { 
	color:#18BAD9;
	text-decoration:underline
	}

footer .about a:hover { 
	text-decoration:none
	}

footer .credits,footer .authors { 
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height:24px;
	margin-bottom:20px
	}
	
footer .credits a,footer .authors a { 
	color:#F50057;
	text-decoration:underline
	}
	
footer .credits a:hover,footer .authors a:hover {
	text-decoration:none
	}

footer .credits .stelian,footer .authors .stelian { 
	background:url(images/stelian-sergiu-1.1.png) no-repeat 0 0;
	background-size:50px 50px;
	line-height:25px;
	height:25px;
	display:inline-block;
	padding-left:30px 
	}
	
footer .credits .sergiu,footer .authors .sergiu { 
	background:url(https://d2zrsw3u8lkijg.cloudfront.net/resourcecards/images/stelian-sergiu-1.1.png) no-repeat -25px -25px;
	background-size:50px 50px;
	line-height:25px;
	height:25px;
	display:inline-block;
	padding-left:30px
	}
	
footer .credits .ampersand,footer .authors .ampersand { 
	margin-left:5px;
	margin-right:5px
	}
	
footer .authors { 
	margin-bottom:50px
	}
	
@media only screen and (min-width: 590px){
	main { 
		width:530px;
		margin:132px auto 0 auto;
		padding:0
		}
		
	.resources { 
		width:530px;
		margin:132px auto 0 auto;
		padding:0
		}
	
	.resource-list .resource-icon { 
		margin:0 20px 0 0;
		width:64px;
		height:64px
		}
	
	.resource-list .resource-icon img {
		width:64px;
		height:64px}
		
	.resource-list .resource-icon:after { 
		width:64px;
		height:64px;
		margin:-32px 0 0 -32px
		}
	
	.resource-list h2 { 
		font-size:23px;
		font-weight: 700;
		
		}
	
	.resource-list p {
		font-size:16px
		}
		
	footer { 
		padding:60px 20px 0 20px
		}
		
	}

@media only screen and (min-width: 768px) {
	.resources {
		width:680px;
		margin:156px auto 0 auto;
		padding:0
		}
	
	.resource-list .resource-details {
		width:auto}
		
	.resource-list p {
		width:auto
		}
	}
	
@media only screen and (min-width: 870px) {
	header {
		height:98px
		}
		
	header svg {
		width:auto
		}
	
	header .bookmark-this {
		width:auto;
		top:-1px
		}
	
	main {
		width:810px;
		padding:0;
		margin:156px auto 0 auto
		}
	
	.resources {
		width:810px;
		padding:0
		}
	
	.resource-list {
		padding:0 30px 0 0;
		border-right:1px solid #EAEDEF
		}
	
	.resource-list .resource-details {
		width:340px
		}
		
	.resource-list .resource-details p {
		width:340px
		}
	
	.resource-list .resource-button {
		display:block;
		height:44px;
		width:100px;
		text-align:center;
		line-height:44px;
		margin:50px 0 0 30px;
		color:#4F4F4F;
		-webkit-transition:all 200ms cubic-bezier(0.39, 0.5, 0.15, 1.36);
		transition:all 200ms cubic-bezier(0.39, 0.5, 0.15, 1.36);
		border-radius:2px
		}
		
	.card:hover {
		box-shadow:0px 10px 40px 0px rgba(51,73,94,0.15)
		}
		
	.sidebar-navigation {
		display:block;
		margin:0 0 0 30px
		}
		
	.sidebar-navigation li {
		margin:0 0 15px 0
		}
		
	.sidebar-navigation li .circle {
		margin:1px 8px 0 0
		}
		
	.sidebar-navigation li a {
		display:-webkit-box;
		display:-webkit-flex;
		display:-ms-flexbox;
		display:flex;
		-webkit-box-align:center;
		-webkit-align-items:center;
		-ms-flex-align:center;
		align-items:center;
		font-size:14px;
		color:#4F4F4F;
		text-transform:uppercase
		}
	
	.sidebar-navigation li .selected {
		font-family:'Lato', sans-serif;
		font-weight: 700;
		font-size: 16px;
		}
		
	.sidebar-navigation li:nth-of-type(1) .circle {
		height:16px;
		width:16px;
		border-radius:50%;
		background-color:#0D47A1}
		
	.sidebar-navigation li:nth-of-type(2) .circle {
		height:16px;
		width:16px;
		border-radius:50%;
		background-color:#388E3C
		}
		
	.sidebar-navigation li:nth-of-type(3) .circle {
		height:16px;
		width:16px;
		border-radius:50%;
		background-color:#FFD600
		}
	
	.sidebar-navigation li:nth-of-type(4) .circle {
		height:16px;width:16px;
		border-radius:50%;
		background-color:#DD2C00
		}
	
	.sidebar-navigation li:nth-of-type(5) .circle {
		height:16px;
		width:16px;
		border-radius:50%;
		background-color:#FFECB3
		}
	
	.sidebar-navigation li:nth-of-type(6) .circle {
		height:16px;
		width:16px;
		border-radius:50%;
		background-color:#880E4F}
	
	.sidebar-navigation li:nth-of-type(7) .circle {
		height:16px;
		width:16px;
		border-radius:50%;
		background-color:#7CB342}
	
	.sidebar-navigation li:nth-of-type(8) .circle {
		height:16px;width:16px;
		border-radius:50%;
		background-color:#6A1B9A}
		
	.sidebar-navigation li:nth-of-type(9) .circle { 
		height:16px;
		width:16px;
		border-radius:50%;
		background-color:#80CBC4}
		
	.sidebar-navigation li:nth-of-type(10) .circle {
		height:16px;
		width:16px;
		border-radius:50%;
		background-color:#006064}
		
	.sidebar-navigation li:nth-of-type(11) .circle {
		height:16px;
		width:16px;
		border-radius:50%;
		background-color:#546E7A}
		
	.sidebar-navigation li:nth-of-type(12) .circle {
		height:16px;
		width:16px;
		border-radius:50%;
		background-color:#3c3c3c 
		}
	
	.photography .resource-button:hover {
		color:#fff;
		box-shadow:#546E79 0 0px 0px 40px inset
		}
		
	.fonts .resource-button:hover {
		color:#fff;
		box-shadow:#3c3c3c 0 0px 0px 40px inset 
		}
	
	.icons .resource-button:hover {
		color:#fff;
		box-shadow:#388E3C 0 0px 0px 40px inset
		}
		
	.photoshop .resource-button:hover {
		color:#fff;
		box-shadow:#0D47A1 0 0px 0px 40px inset
		}
	
	.sketch .resource-button:hover {
		color:#fff;
		box-shadow:#80CBC4 0 0px 0px 40px inset
		}
	
	.color-generators .resource-button:hover {
		color:#fff;
		box-shadow:#006064 0 0px 0px 40px inset
		}
	
	.prototyping .resource-button:hover {
		color:#fff;
		box-shadow:#FFD600 0 0px 0px 40px inset
		}
	
	.front-end .resource-button:hover {
		color:#fff;
		box-shadow:#DD2C00 0 0px 0px 40px inset
		}
	
	.bootstrap .resource-button:hover {
		color:#fff;
		box-shadow:#FFECB3 0 0px 0px 40px inset
		}
	
	.wordpress .resource-button:hover {
		color:#fff;
		box-shadow:#880E4F 0 0px 0px 40px inset
		}
	
	.seo .resource-button:hover {
		color:#fff;
		box-shadow:#6A1B9A 0 0px 0px 40px inset
		}
	
	.marketing .resource-button:hover { 
		color:#fff;
		box-shadow:#7CB342 0 0px 0px 40px inset
		}
	
	footer { 
		padding:60px 50px 0 50px
		}
	
	footer .about { 
		font-size:19px
		}
	}
	
@media only screen and (min-width: 1150px) {
	header { 
		height:98px
		}
		
	main { 
		width:1090px
		}
	
	.resources {
		width:1090px
		}
	
	.resource-list { 
		width:860px
		}
	
	.resource-list .resource-icon {
		margin:0 30px 0 0;
		width:96px;
		height:96px
		}
		
	.resource-list .resource-icon img {
		width:96px;
		height:96px
		}
	
	.resource-list .resource-icon:after {
		width:96px;
		height:96px;
		margin:-48px 0 0 -48px
		}
	
	.resource-list .resource-details {
		width:528px
		}
	
	.resource-list .resource-details p {
		width:528px
		}
	
	footer p {
		width:900px
		}
	}
